body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #555555;
    font-weight: 400;

    .home-section{
        position: relative;
        max-width: 1600px;
        width: 100%;
        margin: 0 auto;
        background: rgb(109, 6, 6) url(/img/home-section-background.jpg);
        background-size: cover;
        color: #ffffff;
        box-sizing: border-box;
        padding: 0 0 260px 0;
       
            
        .navigation {
            position: absolute;
            padding-top: 30px;
            max-width:1140px;
            width:100%;
            .navbar-my{
                .navbar-brand-my{
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 36px;
                    color:#ffffff;
                    margin:0;
                }
                .navbar-toggler-my{
                    background-color: #ffffff;
                    outline: none;
                }
                .collapse-my{
                    justify-content: flex-end;
                    .navbar-nav-my{
                        .nav-item-my{
                            margin: 0 30px 0 0; 
                            .nav-link-my{
                                text-decoration: none;
                                color: #ffffff;
                                line-height: 26px;   
                            }
                        }
                        .nav-item-my:last-child{
                            margin: 0; 
                        }
                    }
                    .navbar-nav-my a:hover{
                        background-color: #999999;
                    }

                }
            }
        }
        .banner{
            padding: 260px 0 0;
            text-align: center;
            z-index: 3;
            h1{
                font-size: 48px;
                text-transform: uppercase;
                font-weight: 400;
            }
            p{
                font-family: 'Roboto Slab', serif;
                font-size: 20px;
                margin:0 0 50px 0;
            }
            .button{
                width: 180px;
                height: 50px;
                border: 2px solid #ffffff;
                margin: 0 auto;
                cursor: pointer;
                border-radius: 1px;
                a{
                    color: #ffffff;
                    font-size: 16px;
                    line-height: 50px;
                    cursor: pointer;
                    text-decoration: none;
                }
            }
            .button:hover{
                background-color: #ffffff;
                opacity: 0.7;
            }
            .button:hover a{
                color: #000;
            }
        }  
    }

    .services {
        padding:100px 0;
        .services-flex-block-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .flex-block-item{
                text-align: center;
                .circle-block{
                    width: 90px;
                    height: 90px;
                    border: 2px solid #dedede;
                    box-sizing: border-box;
                    border-radius: 50%;
                    margin: 0 auto 30px;
                    cursor: pointer;
                    i{
                        font-size: 43px;
                        color: #c0301c;
                        line-height: 86px;
                    }   
                }
                
                .circle-block:hover {
                    background-color: #c0301c;
                }
                .circle-block:hover i{
                    color:#ffffff;
                }
                h5{
                    margin-bottom: 20px;
                    text-transform: uppercase;
                    font-weight: 400;

                }
                p{
                    font-family: 'Roboto Slab', serif;
                    width: 365px;
                    margin-bottom: 0;
                }

            }
        }
    }

    .about-us {
        padding:100px 0;
        background-color: #f8f8f8;
        .middle-text-wrapper{
            display: flex;
            justify-content: space-between;
            .middle-text{
                margin-bottom:70px;
                p {
                    width: 555px;
                    margin: 0;
                    font-family: 'Roboto Slab', serif;
                }
            } 
        }

        .container{
            .carousel-item-item{
                .carousel-item-wrapper{
                    display: flex;
                    justify-content: space-between;
                    .carousel-item-one-picture{
                        cursor: pointer;
                        text-align: center;
                        margin-right: 30px;
                        .carousel-item-one-picture-img{
                            position: relative;
                            img{
                                width: 100%;
                            } 
                            .carousel-item-layout{
                                background-color: #555555;
                                opacity: 0.5;
                                display:none;
                                position: absolute;
                                top:0;
                                width: 100%;
                                height: 100%;
                            }
                            .carousel-item-layout-icons-wrapper{
                                display:flex;
                                justify-content: center;
                                align-items: flex-end;
                                position: absolute;
                                bottom:28px;
                                width: 100%;
                                height: 100%;
                                z-index: 40;
                                opacity:1;
                                display:none;
                                .carousel-item-layout-icon{
                                    text-align: center;
                                    line-height:28px;
                                    width: 28px;
                                    height: 28px;
                                    margin-right:5px;
                                    a{
                                        text-decoration: none;
                                        color:#ffffff;
                                    }
                                }
                                .carousel-item-layout-icon:last-child{
                                    margin-right: 0;
                                }

                                .carousel-item-layout-icon:hover{
                                    background-color: #c0301c;
                                }
                            }
                        }
                    }
                    h5{
                        text-transform: uppercase;
                        margin:20px 0 15px 0;
                    }
                    p{
                        font-family: 'Roboto Slab', serif;
                        font-size: 13px;
                        margin: 0;
                    }
                    .carousel-item-one-picture:last-child{
                        margin-right: 0;
                    }
                    .carousel-item-one-picture:hover{
                        .carousel-item-layout{
                            display:block;
                        }
                        .carousel-item-layout-icons-wrapper{
                            display:flex;
                        }
                    }
                    
                }
            }
            .carousel-control-left, .carousel-control-right{
                width: 35px;
                height: 38px;
                font-size:18px;
                top:37%;
                transform: translateY(-38%);
                background-color: #555555;
                z-index:100;
                opacity:0.2;
            }
            .carousel-control-left:hover, .carousel-control-right:hover{
                background-color: #c0301c;
                opacity: 1;
            }
        }
    }

    .latest-works {
        padding: 100px 0;
        .top-text-modified{
            .list-wrapper{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                .list-item{
                    margin-right:29px;
                    a{
                        color: #555555;
                        text-decoration: none;
                    }
                }
                .list-item:last-child{
                    margin-right:0;
                }
                .list-item:hover a{
                    color:#c0301c;
                }
            }

        }
        .grid-wrapper{
            display: grid;
            grid-gap: 30px;
            grid-template-columns: 1fr 1fr 1fr;
            .grid-item {
                position: relative;
                cursor: pointer;
                img{
                    max-width: 100%;
                    height:auto;
                }
                .grid-overlay{
                    position: absolute;
                    background-color: #c0301c;
                    width:100%;
                    height:100%;
                    top:0;
                    display: none;
                    opacity:0.7;
                    z-index:1;
                }
                .grid-overlay-text-block{
                    color:#ffffff;
                    text-align: center;
                    position: absolute;
                    width:100%;
                    height:100%;
                    z-index:50;
                    top:0;
                    display:flex;
                    flex-direction: column;
                    justify-content: center;
                    display:none;
                    h6{
                        margin: 0 0 15px 0;
                        font-size: 18px;
                        font-weight: 400;
                    }
                    p{
                        margin: 0 0 25px 0;
                        font-size: 12px;
                        font-family: 'Roboto Slab', serif;
                    }
                    .button {
                        width: 100px;
                        height: 38px;
                        background-color: #ffffff;
                        margin:0 auto;
                        a{
                            color: #c0301c;
                            margin:0 auto;
                            line-height:38px;
                            font-family: 'Roboto Slab', serif;
                            font-size: 14px;
                            text-decoration: none;
                        }
                        i{
                            margin-left:12px;
                            color: #c0301c;
                        }
                    }
                    .button:hover{
                        background-color: #555555;
                    }
                    .button:hover a, .button:hover i{
                        color:#ffffff;
                    }
                }
            }
            .grid-item:hover{
                .grid-overlay{
                    display:flex;
                }
                .grid-overlay-text-block{
                    display:flex;
                }
            }
        }
    }

    .latest-works-CTA{
        position: relative;
        padding: 100px 0;
        max-width: 1600px;
        width: 100%;
        margin: 0 auto;
        background: rgb(117, 10, 10) url(/img/latest-works-CTA-background.png);
        background-size: cover;
        
        .latest-works-CTA-layout{
            position: absolute;
            text-align: center;
            margin: 0 auto;
            background-color: #c0301c;
            opacity: 0.6;
            width: 100%;
            height: 100%;
            top:0;
        }

        .latest-works-CTA-text-block{
            text-align: center;
            position: relative;
            z-index:30;
            h4{
                width: 468px;
                margin: 0 auto 52px;
                color: #ffffff;
                font-size: 30px;
                font-family: 'Roboto Slab', serif;
                line-height: 44px;   
                font-weight: 400;            
            }
            .button{
                margin:0 auto; 
                width: 180px;
                height: 50px;
                border: 2px solid #ffffff;
                margin: 0 auto;
                cursor: pointer;
                border-radius: 1px;
                a{
                    color: #ffffff;
                    font-size: 18px;
                    font-family: 'Roboto Slab', serif;
                    line-height: 50px;
                    cursor: pointer;
                    text-decoration: none;
                }
            }
            .button:hover{
                background-color: #ffffff;
                opacity: 0.7;
            }
            .button:hover a{
                color: #000;
            }
        }
           
        
    }

    .recent-blog-posts{
        padding:100px 0;
        .blog-post{
            display: flex;
            justify-content: space-between;
            .flex-block-picture{
                img{
                    width: 100%;
                }
            }
            .flex-block-text{
                max-width: 650px;
                padding-left: 10px;
                box-sizing: border-box;
                .inside-flex-block-wrapper{
                    display: flex;
                    justify-content: flex-start;
                    margin: 0 0 23px 0;
                    .date{
                        width: 76px;
                        height: 76px;
                        border: 2px solid #555555;
                        color: #999999;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        margin-right: 26px;
                        h6{
                            font-weight: bold;
                            font-size: 24px;
                            margin:0;
                        }
                        span{ 
                            font-weight: bold;
                            margin:0;
                        }
                    }
                    .right-text{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        h5{
                            text-transform: uppercase;
                            font-size: 16px;
                            margin: 0;
                            line-height: 24px;
                            color:#757575;
                            margin: 0 0 10px 0;
                            cursor: pointer;
                            font-weight: 400;
                        }
                        p{
                            display: inline;
                            font-size: 13px;
                            color:#777777;
                            line-height: 24px;
                            font-family: 'Roboto Slab', serif;
                        }
                        a{
                            text-decoration: none;
                            color:#777777;
                            cursor: pointer;
                            font-size: 13px;
                            line-height: 24px;
                            font-family: 'Roboto Slab', serif;
                        }
                    }
                    .right-text h5:hover{
                        color: #c0301c;
                    }
                    .right-text a:hover{
                        color: #c0301c;
                    }
                }
                p{  
                    font-family: 'Roboto Slab', serif;                          
                    width: 640px;
                    margin: 0;
                    color: #555555;
                    line-height: 24px;
                    margin: 0 0 34px 0;
                }
                .read-more-div{
                    a{
                        font-family: 'Roboto Slab', serif; 
                        font-size: 13px;
                        font-weight: bold;
                        color: #777777;
                        cursor: pointer;
                        text-decoration: none;
                    }
                }
                .read-more-div:hover a{
                    color: #c0301c;
                }
            }

        }
        hr{
            margin: 38px 0;
        }
    }

    .clients{
        background-color:#f8f8f8;
        padding:100px 0 113px;
        .clients-logo-wrapper{
            display:flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin: 0 auto 50px;
            .clients-logo-item{
                width: 160px;
                margin-right: 30px;
            }
            .clients-logo-item:last-child{
                margin-right: 0;
            }
        }
        .container{
            .carousel{
                .carousel-indicators{
                    bottom:-40px;
                    li{
                        height: 13px;
                        width: 13px;
                        background-color: #dddddd;
                        border-radius: 50%;

                    }
                    .active{
                        background-color: #c0301c;
                    }
                }
            }
            .carousel-inner {
                .carousel-item{
                    .carousel-item-text{
                        text-align: center;
                        font-family: 'Roboto Slab', serif;
                        .carousel-item-quote{
                            margin-bottom: 40px;
                            p{
                                width: 760px;
                                font-size: 18px;
                                font-style: italic;
                                color:#555555;
                                margin: 0 auto;
                            }
                        }
                        h6{
                            font-size: 20px;
                            margin: 0 0 40px 0;
                            color:#555555;
                            font-weight: 400;
                        }
                    }

                }
            }
        }

    }

    .get-in-touch{
        padding: 100px 0;
        .outside-get-in-touch-wrapper{
            display:flex;
            justify-content: space-between;
            .contacts-wrapper{
                .contacts-item{
                    display:flex;
                    margin-bottom:35px;
                    .contactis-item-icon{
                        padding: 2px;
                        box-sizing: border-box;
                        i{
                            font-size: 18px;
                            margin-right: 15px;
                        }
                    }
                    h5{
                        margin: 0 0 10px 0;
                        font-weight: 400;

                    }
                    p{ 
                        margin: 0;
                        font-size: 12px;
                        line-height: 20px;
                        font-family: 'Roboto Slab', serif;
                        font-family: 'Roboto Slab', serif;
                    }

                    a{ 
                        margin: 0;
                        font-size: 12px;
                        line-height: 20px;
                        font-family: 'Roboto Slab', serif;
                        text-decoration: none;
                        color: #555555;
                    }
                    a:hover{
                        color: #c0301c;
                    }
                }
            }
            form{
                .form-wrapper{
                    width: 730px;
                    margin: 0 15px;
                    .form-row{
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 21px;
                        .row-item{
                            input{
                                font-family: 'Roboto Slab', serif;
                                width: 350px;
                                box-sizing: border-box;
                                padding: 15px;
                                outline: none;
                                border: 1px solid #555555;
                                font-size: 12px;
                            }
                            input:hover{
                                border-color: #c0301c;
                            }
                        }
                    }
                    .message{
                        textarea{
                            font-family: 'Roboto Slab', serif;
                            resize:none;
                            width: 100%;
                            box-sizing: border-box;
                            padding: 15px;
                            font-size: 12px;
                            outline: none;
                            border: 1px solid #555555;
                        }
                        textarea:hover{
                            border-color: #c0301c;
                        }

                    }
                    .button-and-ps{
                        font-size: 12px;
                        font-family: 'Roboto Slab', serif;
                        display: flex;
                        button{
                            width: 170px;
                            height: 44px;
                            outline: none;
                            border: 1px solid #555555;
                            margin:0 38px 0 0;
                            background-color: #ffffff;
                            color:#555555;
                        }
                        button:hover{
                            border-color: #c0301c;
                            background-color: #c0301c;
                            color:#ffffff;
                        }
                        .button-and-ps-commentary{
                            align-self: center;
                            span{
                                color: #c0301c;

                            }
                            p{
                                display: inline;
                            }
                        }
                    }
                }
            }
        }
    }

    footer {
        padding: 100px 0;
        max-width: 1600px;
        margin: 0 auto;
        background-color:#c0301c;
        color:#ffffff;
        .footer-top-text{
            margin-bottom:0;    
            .footer-icons-wrapper{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                .footer-icon-item{
                    width: 35px;
                    height: 35px;
                    box-sizing: border-box;
                    border-radius: 50%;
                    margin: 0 14px 30px 0;
                    cursor: pointer;
                    border: 2px solid #ffffff;
                    a{ 
                        color: #ffffff;
                        line-height: 31px;
                    }
                }
                .footer-icon-item:last-child{
                   margin-right: 0;
                }
                .footer-icon-item:hover{
                    background-color: #ffffff;
                    border-color: #ffffff;
                    
                }
                .footer-icon-item:hover a{
                    color: #c0301c;
                }
            }
            .line{
                background-color: #ffffff;
            }
            .footer-bottom-text-wrapper{
                font-size: 12px;
                span{
                    text-transform: uppercase;
                    font-family: 'Roboto Slab', serif;
                    line-height: 20px;
                }
            }

        }
    }

}

// Additional

.top-text{
    margin: 0 0 70px 0;
    text-align: center;
    h3{
        margin: 0 0 30px 0;
        font-size: 20px;
        color: #555555;
        font-weight: 400;
                

    }
    .line{
        height: 2px;
        width: 50px;
        background-color: #555555;
        margin: 0 auto 30px auto;
    }
    p{
        margin-bottom: 0;
        color:#555555;
        font-size: 16px;
        font-family: 'Roboto Slab', serif;
    }
}

.container-not-bootstrap{
    max-width: 1140px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
}

// Media Queries

@media (max-width:1139px){
    body{
        .container-not-bootstrap{
            max-width: auto;
            padding: 0 10px 0 10px;
            overflow: hidden;
        }

        .top-text{
            margin: 0 0 50px 0;
        }

        .home-section{
            padding: 0 0 230px 0;

            .navigation {
                width:98%;
            }
            .banner{
                padding: 230px 0 0;
                h1{
                    font-size: 43px;
                }
                p{
                    margin:0 0 30px 0;
                }
            }   
        }

        .services{
            .services-flex-block-wrapper{
                .flex-block-item{
                    width:50%;
                    margin-bottom: 40px;
                    p{
                        margin:0 auto;
                    }
                }
                .flex-block-item:last-child{
                    width:100%;
                    margin:0;
                }
            }
        }

        .about-us{
            .middle-text-wrapper{
                .middle-text{
                    width:48%;
                    margin-bottom: 40px;
                    p{
                        width:100%;
                    }
                }      
            }
        }

        .recent-blog-posts{
            .blog-post{
                h5{
                    width:100%;
                }
                p{  
                    width:100%;
                }
            }
        }

        .clients{
            padding: 100px 10px;
            box-sizing: border-box;
            .container{
                .carousel-inner {
                    .carousel-item{
                        .carousel-item-text{
                            .carousel-item-quote{
                                p{
                                    width:100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:991px){
    body{
        .home-section{
            .navigation {
                width:97%;
            }
            .collapse-my{
                .navbar-nav-my{
                    background-color: #555555;
                    opacity: 0.7;
                    padding: 10px;
                    .nav-item-my{
                        .nav-link-my{
                            padding:0;
                        }
                    }
                }
            }
            .banner{
                padding: 230px 0 0;
                h1{
                    font-size: 43px;
                }
                p{
                    margin:0 0 30px 0;
                }
            }   
        }

        .get-in-touch{
            padding: 70px 0;
            .outside-get-in-touch-wrapper{
                display:block;
                .contacts-wrapper{
                    display:flex;
                    justify-content: space-around;
                }
                form{
                    .form-wrapper{
                        margin: 0 auto;
                    }
                }
            }
        }

        .about-us{
            .container{
                .carousel-inner{
                    .carousel-item.active.carousel-item-item{
                        .carousel-item-wrapper{
                            .carousel-item-one-picture{
                                margin-right: 20px;
                            }
                            .carousel-item-one-picture:nth-child(3){
                                margin-right:0;
                            }
                            .carousel-item-one-picture:last-child{
                                display: none;
                            }
                        }    
                    }
                }
            }
        }
    }
}

@media (max-width:768px){
    body{

        .home-section{
            padding: 0 0 100px 0;
            .navigation {
                width:96%;
            }
        }

        .services{
            padding: 70px 0;
            .services-flex-block-wrapper{
                .flex-block-item{
                    width:100%;
                    p{
                        width: 100%;
                    }
                }
            }
        }

        .about-us{
            padding:70px 0;
            .middle-text-wrapper{
                display:block;
                text-align: center;
                .middle-text{
                    margin-bottom: 20px;
                    width:100%;
                }
                .middle-text:last-child{
                    margin-bottom:50px;
                }   
            }
            .container{
                .carousel-inner{
                    .carousel-item.active.carousel-item-item{
                        .carousel-item-wrapper{
                            .carousel-item-one-picture{
                                margin-right: 10px;
                            }
                            .carousel-item-one-picture:nth-child(2){
                                margin-right: 0;
                            }
                            .carousel-item-one-picture:nth-child(3){
                                display: none;
                            }
                        }    
                    }
                }
            }
        }

        .latest-works {
            padding: 70px 0;
            .top-text.top-text-modified{
                .list-wrapper{
                    flex-direction: column;
                    .list-item{
                        margin:0;
                    }
                }
            }
            .grid-wrapper{
                text-align: center;
                display: grid;
                grid-gap: 10px;
                grid-template-columns: 1fr 1fr;
                .grid-item{
                    .grid-overlay-text-block{
                        padding:0 10px;
                        box-sizing: border-box;
                      h6 {
                        margin-bottom: 5px;
                        width: 100%;
                      }
                      p { 
                        margin-bottom: 10px;
                      }
                    }
                }
            }
        }

        .latest-works-CTA{
            padding: 70px 0;
            .latest-works-CTA-text-block{
                padding:0 10px;
                box-sizing: border-box;
                h4{
                    width:100%;
                    margin-bottom: 30px;
                    font-size: 25px;
                }
            }
        }

        .recent-blog-posts{
            padding:70px 0;
            .blog-post{
                display:block;
                .flex-block-picture{
                    margin-bottom: 10px;
                }
                .flex-block-text{
                    padding-left: 0;
                    margin-right:0;
                    .inside-flex-block-wrapper{
                        margin-bottom: 15px;
                        .date{
                            margin-right: 10px;
                        }
                        .right-text{
                            h5{
                                margin: 0 0 5px 0;
                            }
                        }
                    }
                    p{  
                        width:100%;
                        margin-bottom: 20px;
                    }
                }
            }
            hr{
                margin:20px 0;
            }
        }

        .clients{
            padding: 70px 10px;
            .clients-logo-wrapper{
                flex-direction: column;
                text-align: center;
                margin-bottom:20px;
                .clients-logo-item{
                    margin: 0 0 15px 0;
                }
            }
            .container{
                .carousel-inner {
                    .carousel-item{
                        .carousel-item-text{
                            text-align: center;
                            font-family: 'Roboto Slab', serif;
                            .carousel-item-quote{
                                margin-bottom: 20px;
                                p{
                                    width:100%;
                                }
                            }
                            h6{
                                width:100%;
                                margin-bottom: 30px;
                            }
                        }
                    }
                }
            }
        }

        .get-in-touch{
            padding: 70px 0;
            .outside-get-in-touch-wrapper{
                display:block;
                .contacts-wrapper{
                    display: block;
                    .contacts-item{
                        justify-content: center;
                        .contacts-item-text{
                            width:156px;
                            p{
                                width: 100%;
                            }
                        }
                    }
                }
                form{
                    .form-wrapper{
                        width: 100%;
                        margin: 0;
                        .form-row{
                            display: block;
                            margin-bottom: 20px;
                            .row-item{
                                margin-bottom:20px;
                                input{
                                    width:100%;
                                }
                            }
                        }
                        .button-and-ps{
                            display: block;
                            button{
                                margin-bottom: 10px;
                            }
                            .button-and-ps-commentary{
                                p{
                                    width:100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:551px){
    body{
        .home-section{
            .navigation{
                width:94%;
            }
        }

        .about-us{
            .container{
                .carousel-inner{
                    .carousel-item-item{
                        .carousel-item-wrapper{
                            display:block;
                            .carousel-item-one-picture{
                                width:100%;
                                margin-right: 0;
                            }
                            .carousel-item-one-picture:nth-child(2){
                                display:none;
                            }
                        }    
                    }
                }
            }
        }
    }
}