body {
    font-family: 'Montserrat', sans-serif;
    // font-family: 'Roboto Slab', serif;
    font-size: 14px;
    color: #555555;
    font-weight: 400;

    .home-section{
        position: relative;
        max-width: 1600px;
        width: 100%;
        margin: 0 auto;
        background: rgb(109, 6, 6) url(/img/home-section-background.png);
        background-size: cover;
        color: #ffffff;
        .home-section-overlay{
            background-color: #000000;
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0.45;
            z-index: 1;
            top:0;
        }
       
            
        .navigation {
            z-index: 2;
        }
        .banner{
            position: relative;
            padding: 260px 0;
            text-align: center;
            z-index: 3;
            h1{
                font-size: 48px;
                text-transform: uppercase;
            }
            p{
                font-family: 'Roboto Slab', serif;
                font-size: 20px;
                margin:0 0 50px 0;
            }
            .button{
                width: 180px;
                height: 50px;
                border: 2px solid #ffffff;
                margin: 0 auto;
                cursor: pointer;
                border-radius: 1px;
                a{
                    color: #ffffff;
                    font-size: 16px;
                    line-height: 50px;
                    cursor: pointer;
                    text-decoration: none;
                }
            }
            .button:hover{
                background-color: #ffffff;
                opacity: 0.7;
            }
            .button:hover a{
                color: #000;
            }
        }
        
    }

    .services {
        padding:100px 0;
        .services-flex-block-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .flex-block-item{
                text-align: center;
                .circle-block{
                    width: 90px;
                    height: 90px;
                    border: 2px solid #dedede;
                    box-sizing: border-box;
                    border-radius: 50%;
                    margin: 0 auto 30px;
                    cursor: pointer;
                    i{
                        font-size: 43px;
                        color: #c0301c;
                        line-height: 86px;
                    }   
                }
                
                .circle-block:hover {
                    background-color: #c0301c;
                }
                .circle-block:hover i{
                    color:#ffffff;
                }
                h5{
                    margin-bottom: 20px;
                    text-transform: uppercase;

                }
                p{
                    font-family: 'Roboto Slab', serif;
                    width: 365px;
                    margin-bottom: 0;
                }

            }
        }
    }

    .about-us {
        padding:100px 0;
        background-color: #f8f8f8;
        .middle-text-wrapper{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .middle-text{
                margin-bottom:70px;
                p {
                    width: 555px;
                    margin: 0;
                    font-family: 'Roboto Slab', serif;
                }
            } 
            .carousel{

            }
        }
    }

    .latest-works {
        padding: 100px 0;
        .top-text-modified{
            .list-wrapper{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                .list-item{
                    margin-right:29px;
                    a{
                        color: #555555;
                        text-decoration: none;
                    }
                }
                .list-item:last-child{
                    margin-right:0;
                }
                .list-item:hover a{
                    color:#c0301c;
                }
            }

        }
        .grid-wrapper{
            display: grid;
            grid-gap: 30px;
            grid-template-columns: 1fr 1fr 1fr;
            .grid-item {
                position: relative;
                cursor: pointer;
                img{
                    max-width: 100%;
                    height:auto;
                }
                .grid-overlay{
                    position: absolute;
                    background-color: #c0301c;
                    opacity: 0.7;
                    width:100%;
                    height:100%;
                    top:0;
                    display: none;
                    .grid-overlay-text-block{
                        color:#ffffff;
                        text-align: center;
                        
                        h6{
                            margin: 0 0 15px 0;
                            font-size: 18px;

                        }
                        p{
                            margin: 0 0 25px 0;
                            font-size: 12px;
                            font-family: 'Roboto Slab', serif;

                        }
                        .button {
                            width: 100px;
                            height: 38px;
                            background-color: #ffffff;
                            margin:0 auto;
                            a{
                                color: #c0301c;
                                margin:0 auto;
                                line-height:38px;
                                font-family: 'Roboto Slab', serif;
                                font-size: 14px;
                                text-decoration: none;
                            }
                            i{
                                margin-left:12px;
                                color: #c0301c;
                            }
                        }
                        .button:hover{
                            background-color: #555555;
                        }
                        .button:hover a, .button:hover i{
                            color:#ffffff;
                        }
                    }
                }
            }
            .grid-item:hover .grid-overlay{
                display:flex;
                justify-content: center;
                align-items: center;
            }
        }

    }

    .latest-works-CTA{
        position: relative;
        padding: 100px 0;
        max-width: 1600px;
        width: 100%;
        margin: 0 auto;
        background: rgb(117, 10, 10) url(/img/latest-works-CTA-background.png);
        background-size: cover;
        
        .latest-works-CTA-layout{
            position: absolute;
            text-align: center;
            margin: 0 auto;
            background-color: #c0301c;
            opacity: 0.6;
            width: 100%;
            height: 100%;
            top:0;
        }

        .latest-works-CTA-text-block{
            text-align: center;
            position: relative;
            z-index:30;
            h4{
                width: 468px;
                margin: 0 auto 52px;
                color: #ffffff;
                font-size: 30px;
                font-family: 'Roboto Slab', serif;
                line-height: 44px;               
            }
            .button{
                margin:0 auto; 
                width: 180px;
                height: 50px;
                border: 2px solid #ffffff;
                margin: 0 auto;
                cursor: pointer;
                border-radius: 1px;
                a{
                    color: #ffffff;
                    font-size: 18px;
                    font-family: 'Roboto Slab', serif;
                    line-height: 50px;
                    cursor: pointer;
                    text-decoration: none;
                }
            }
            .button:hover{
                background-color: #ffffff;
                opacity: 0.7;
            }
            .button:hover a{
                color: #000;
            }
        }
           
        
    }

    .recent-blog-posts{
        padding:100px 0;
        .blog-post{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .flex-block-text{
                max-width: 650px;
                padding-left: 10px;
                box-sizing: border-box;
                .inside-flex-block-wrapper{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                    margin: 0 0 23px 0;
                    .date{
                        width: 76px;
                        height: 76px;
                        border: 2px solid #555555;
                        color: #999999;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        margin-right: 26px;
                        h6{
                            font-weight: bold;
                            font-size: 24px;
                            margin:0;
                        }
                        span{ 
                            font-weight: bold;
                            margin:0;
                        }
                    }
                    .right-text{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        h5{
                            text-transform: uppercase;
                            font-size: 16px;
                            margin: 0;
                            line-height: 24px;
                            color:#757575;
                            margin: 0 0 10px 0;
                            cursor: pointer;
                        }
                        p{
                            display: inline;
                            font-size: 13px;
                            color:#777777;
                            line-height: 24px;
                            font-family: 'Roboto Slab', serif;
                        }
                        a{
                            text-decoration: none;
                            color:#777777;
                            cursor: pointer;
                            font-size: 13px;
                            line-height: 24px;
                            font-family: 'Roboto Slab', serif;
                        }
                    }
                    .right-text h5:hover{
                        color: #c0301c;
                    }
                    .right-text a:hover{
                        color: #c0301c;
                    }
                }
                p{  
                    font-family: 'Roboto Slab', serif;                          
                    width: 640px;
                    margin: 0;
                    color: #555555;
                    line-height: 24px;
                    margin: 0 0 34px 0;
                }
                .read-more-div{
                    a{
                        font-family: 'Roboto Slab', serif; 
                        font-size: 13px;
                        font-weight: bold;
                        color: #777777;
                        cursor: pointer;
                        text-decoration: none;
                    }
                }
                .read-more-div:hover a{
                    color: #c0301c;
                }
            }

        }
        hr{
            margin: 38px 0;
        }
    }

    .clients{
        background-color:#f8f8f8;
        padding:100px 0;
        .clients-logo-wrapper{
            display:flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin: 0 auto 70px;
            .clients-logo-item{
                width: 160px;
                margin-right: 30px;
            }
            .clients-logo-item:last-child{
                margin-right: 0;
            }
        }

    }

    .get-in-touch{
        padding: 100px 0;
        .outside-get-in-touch-wrapper{
            display:flex;
            flex-wrap: wrap;
            justify-content: space-between;

        }
    }

    footer {
        padding: 100px 0;
        max-width: 1600px;
        margin: 0 auto;
        background-color:#c0301c;
        color:#ffffff;
        .footer-top-text{
            margin-bottom:0;    
            .footer-icons-wrapper{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                .footer-icon-item{
                    width: 35px;
                    height: 35px;
                    box-sizing: border-box;
                    border-radius: 50%;
                    margin: 0 14px 30px 0;
                    cursor: pointer;
                    border: 2px solid #ffffff;
                    a{ 
                        color: #ffffff;
                        line-height: 31px;
                    }
                }
                .footer-icon-item:last-child{
                   margin-right: 0;
                }
                .footer-icon-item:hover{
                    background-color: #ffffff;
                    border-color: #ffffff;
                    
                }
                .footer-icon-item:hover a{
                    color: #c0301c;
                }
            }
            .line{
                background-color: #ffffff;
            }
            .footer-bottom-text-wrapper{
                font-size: 12px;
                span{
                    text-transform: uppercase;
                    font-family: 'Roboto Slab', serif;
                    line-height: 20px;
                }
            }

        }
    }

}

// Additional

.top-text{
    margin: 0 0 70px 0;
    text-align: center;
    h3{
        margin: 0 0 30px 0;
        font-size: 20px;
        color: #555555;

    }
    .line{
        height: 2px;
        width: 50px;
        background-color: #555555;
        margin: 0 auto 30px auto;
    }
    p{
        margin-bottom: 0;
        color:#555555;
        font-size: 16px;
        font-family: 'Roboto Slab', serif;
    }
}

.container{
    max-width:1140px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
}